<div class="order-tracker">
    Select food for {{orderManger.activeDay}}
    <div class="order-table">
        {{#each-in orderManger.menuSelection as |day menuOrder| }}
            <div>
                {{day}}
                <dl>
                    <dt>Breakfast</dt>
                    <dd>
                        {{#if menuOrder.breakfast}}
                          {{menuOrder.breakfast}} <span {{action 'resetItem' day 'breakfast'}} > × </span>
                        {{/if}}
                        </dd>
                    <dt>Lunch</dt>
                    <dd>
                        {{#if menuOrder.lunch}}
                            {{menuOrder.lunch}} <span {{action 'resetItem' day 'lunch'}} > × </span>
                        {{/if}}
                        </dd>
                    <dt>Dinner</dt>
                    <dd>
                        {{#if menuOrder.dinner}}
                         {{menuOrder.dinner}} <span {{action 'resetItem' day 'dinner'}} > × </span>
                        {{/if}}</dd>
                </dl>
            </div>
        {{/each-in}}
    </div>
</div>
{{yield}}