<h2>{{model.name}}</h2>
<img src="{{model.img}}" alt="{{model.name}}" width="50%">
<p>Rating :{{model.rating}}</p>
<p>{{model.description}}</p>
<p>
    {{#link-to 'item.calories' }}Calories{{/link-to}}
</p>
{{outlet}}